In [1]:
#Import stuff 
import pandas as pd
import os
import numpy as np
print ("Pandas imported")
print ("os imported")
print ("Numpy imported")

Pandas imported
os imported
Numpy imported

In [2]:
#### CHANGE DIRECTORY ####

inputDir = '/Users/abbykroken/Desktop/sand2/dfs'

print("Selected directory: " + inputDir)  
os.chdir(inputDir)
cwd = os.getcwd()
print("Current working directory: {0}".format(cwd))

Selected directory: /Users/abbykroken/Desktop/sand2/dfs
Current working directory: /Users/abbykroken/Desktop/sand2/dfs

In [3]:
# Load results file as and examine it.
df = pd.read_csv('All_Results.csv')
pd.options.display.max_columns = None
df

,Unique ID,Strain,Field No,Cell No,04h-n,05h-n,06h-n,07h-n,08h-n,09h-n,10h-n,11h-n,12h-n,13h-n,14h-n,15h-n,16h-n,17h-n,18h-n,19h-n,20h-n,04h-a,05h-a,06h-a,07h-a,08h-a,09h-a,10h-a,11h-a,12h-a,13h-a,14h-a,15h-a,16h-a,17h-a,18h-a,19h-a,20h-a,04h-m,05h-m,06h-m,07h-m,08h-m,09h-m,10h-m,11h-m,12h-m,13h-m,14h-m,15h-m,16h-m,17h-m,18h-m,19h-m,20h-m
0,PAO1_1_1,PAO1,1,1,0.336,0.265,0.225,0.205,0.217,0.218,0.216,0.299,0.263,0.331,0.454,7.337,6.672,6.228,6.014,5.835,5.847,0.000,0.000,0.000,0.000,0.000,0.000,2.706,1.048,42.950,90.770,127.632,57.695,49.071,52.352,53.738,48.192,45.757,-inf,-inf,-inf,-inf,-inf,-inf,765.0,938.0,1420.0,1907.0,3163.0,2357.0,2298.0,2007.0,2451.0,2148.0,1714.0
1,PAO1_1_2,PAO1,1,2,6.024,5.767,5.704,5.594,5.525,5.487,5.399,5.331,5.233,5.216,5.206,5.150,5.014,4.991,4.893,4.859,4.848,0.338,1.860,0.000,2.131,1.454,1.251,0.879,0.000,3.078,7.102,1.387,2.097,2.198,2.131,2.266,2.097,2.131,552.0,572.0,-inf,589.0,564.0,570.0,582.0,-inf,577.0,1106.0,633.0,598.0,605.0,605.0,596.0,599.0,607.0
2,PAO1_1_3,PAO1,1,3,0.148,0.128,0.104,0.084,0.093,0.109,0.133,0.176,5.502,5.931,5.999,5.955,5.933,5.933,5.903,5.899,5.899,0.000,1.691,0.000,0.000,0.000,0.000,0.000,2.300,3.450,1.217,2.266,0.000,0.000,0.000,0.000,0.000,3.382,-inf,541.0,-inf,-inf,-inf,-inf,-inf,1708.0,1276.0,629.0,979.0,-inf,-inf,-inf,-inf,-inf,1434.0
3,PAO1_1_4,PAO1,1,4,6.751,6.983,7.150,7.320,7.197,7.001,6.692,6.527,6.217,6.023,6.007,5.921,5.806,5.751,5.600,5.465,5.516,12.141,10.349,9.503,8.658,9.503,10.247,9.199,6.730,7.880,14.272,10.281,7.914,8.861,5.614,4.836,4.904,5.715,649.0,674.0,680.0,665.0,673.0,680.0,657.0,620.0,643.0,1523.0,1960.0,1219.0,1256.0,1654.0,1677.0,1456.0,1220.0
4,PAO1_1_5,PAO1,1,5,0.165,0.107,0.098,0.240,3.492,6.796,7.814,8.281,8.393,8.248,8.144,8.033,7.737,7.605,7.248,7.003,6.950,0.000,7.170,37.505,77.851,104.128,91.886,82.856,79.440,91.717,78.764,89.721,63.613,68.314,62.260,64.459,61.009,56.376,-inf,740.0,896.0,1883.0,1480.0,2068.0,1868.0,2079.0,1979.0,2394.0,1693.0,1389.0,1473.0,1621.0,1145.0,1152.0,1041.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,∆STY_3_39,∆STY,3,39,6.180,5.571,5.446,5.438,5.360,5.425,5.467,5.484,5.534,5.470,5.552,5.480,5.401,5.422,5.304,5.287,5.287,3.280,2.739,5.682,1.353,2.333,0.778,1.522,1.691,3.585,1.961,0.812,0.913,2.503,1.454,0.812,0.710,0.000,547.0,552.0,686.0,570.0,545.0,505.0,533.0,541.0,536.0,524.0,523.0,529.0,529.0,522.0,505.0,478.0,-inf
314,∆STY_3_40,∆STY,3,40,4.086,3.625,3.511,3.505,3.423,3.454,3.397,3.484,3.452,3.395,3.405,3.369,3.312,3.326,3.243,3.255,3.246,37.573,35.848,33.616,29.490,30.437,25.601,25.668,29.321,28.002,27.867,26.818,26.041,26.074,26.379,25.838,21.035,19.716,1024.0,1159.0,1237.0,1467.0,1185.0,1108.0,1129.0,1107.0,1108.0,1032.0,1046.0,1026.0,1020.0,1011.0,1010.0,934.0,916.0
315,∆STY_3_41,∆STY,3,41,0.197,3.806,5.030,5.450,5.564,5.734,5.854,5.803,5.840,5.904,5.890,5.802,5.635,5.578,5.218,5.119,4.995,50.864,48.530,50.187,49.274,49.578,48.733,49.240,49.071,44.303,44.607,44.708,45.588,46.027,42.950,38.655,38.790,38.452,1323.0,1309.0,1486.0,1563.0,1659.0,1598.0,1644.0,1664.0,1675.0,1690.0,1612.0,1565.0,1579.0,1563.0,1568.0,1604.0,1543.0
316,∆STY_3_42,∆STY,3,42,6.954,6.699,6.419,6.384,6.389,6.354,6.341,6.294,6.270,6.109,6.122,6.044,5.815,5.737,5.412,5.336,5.248,19.243,22.287,26.413,21.475,18.871,21.272,20.224,20.257,16.943,16.842,16.199,16.707,16.977,17.958,17.653,17.958,17.383,1061.0,1351.0,1274.0,1227.0,1030.0,1034.0,1030.0,1079.0,1022.0,1019.0,1043.0,1057.0,921.0,866.0,884.0,879.0,924.0
317,∆STY_3_43,∆STY,3,43,0.532,7.795,8.489,8.469,8.458,8.317,8.341,8.226,8.168,8.220,8.079,7.852,7.577,7.353,7.132,6.875,6.774,4.227,4.126,5.276,11.735,8.996,1.015,0.710,0.744,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,686.0,816.0,750.0,782.0,825.0,696.0,673.0,665.0,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf,-inf

In [4]:
#Create a new dataframe to populate processed results

selected_columns = df[["Unique ID", "Strain"]]
resultdf = selected_columns.copy()
resultdf.head()

  Unique ID Strain
0  PAO1_1_1   PAO1
1  PAO1_1_2   PAO1
2  PAO1_1_3   PAO1
3  PAO1_1_4   PAO1
4  PAO1_1_5   PAO1

In [5]:
# User defines cutoffs. Determine these by viewing the TIF results file and raw data for GFP max.
# 1.6 used often for PI/Hoechst cutoff.
# 10 works well for GFP area.
# 525 works well for GFP max. 

dead = float(input("PI to Hoechst ratio cutoff: "))
gfpArea = int(input("GFP min area required: "))
gfpMax = int(input("GFP Max required for positive signal: "))

PI to Hoechst ratio cutoff: 1.6
GFP min area required: 10
GFP Max required for positive signal: 525

In [6]:
# Make a new dataframe for just the cell death.

columnss = df[["Unique ID","04h-n","05h-n","06h-n","07h-n","08h-n","09h-n","10h-n","11h-n","12h-n","13h-n","14h-n","15h-n","16h-n","17h-n","18h-n","19h-n","20h-n"]]

nucdf = columnss.copy()
nucdf.head(15)

,Unique ID,04h-n,05h-n,06h-n,07h-n,08h-n,09h-n,10h-n,11h-n,12h-n,13h-n,14h-n,15h-n,16h-n,17h-n,18h-n,19h-n,20h-n
0,PAO1_1_1,0.336,0.265,0.225,0.205,0.217,0.218,0.216,0.299,0.263,0.331,0.454,7.337,6.672,6.228,6.014,5.835,5.847
1,PAO1_1_2,6.024,5.767,5.704,5.594,5.525,5.487,5.399,5.331,5.233,5.216,5.206,5.150,5.014,4.991,4.893,4.859,4.848
2,PAO1_1_3,0.148,0.128,0.104,0.084,0.093,0.109,0.133,0.176,5.502,5.931,5.999,5.955,5.933,5.933,5.903,5.899,5.899
3,PAO1_1_4,6.751,6.983,7.150,7.320,7.197,7.001,6.692,6.527,6.217,6.023,6.007,5.921,5.806,5.751,5.600,5.465,5.516
4,PAO1_1_5,0.165,0.107,0.098,0.240,3.492,6.796,7.814,8.281,8.393,8.248,8.144,8.033,7.737,7.605,7.248,7.003,6.950
5,PAO1_1_6,0.259,0.257,0.219,0.242,0.206,0.147,0.169,0.195,0.198,0.191,0.189,0.196,0.191,0.211,0.212,0.226,0.241
6,PAO1_1_7,8.715,8.502,8.459,8.344,8.030,7.811,7.555,7.197,7.096,6.870,6.765,6.650,6.528,6.391,6.224,6.142,6.146
7,PAO1_1_8,7.429,7.270,7.382,7.309,7.081,7.017,6.961,6.797,6.587,6.559,6.522,6.468,6.324,6.270,6.186,6.114,6.137
8,PAO1_1_9,0.076,0.067,0.068,0.076,0.103,1.683,6.207,6.319,6.319,6.233,6.202,6.167,6.004,5.885,5.831,5.818,5.830
9,PAO1_1_10,0.254,0.249,0.285,1.157,0.321,0.306,0.310,0.303,0.311,0.266,0.236,0.190,0.140,0.186,0.222,0.263,0.296
10,PAO1_1_11,0.176,0.072,0.079,0.096,0.109,0.127,0.185,0.310,0.494,0.824,4.480,5.023,4.936,4.973,4.947,4.928,4.933
11,PAO1_1_12,0.172,0.157,0.094,0.108,0.129,0.162,0.181,0.180,0.211,0.267,0.286,0.289,0.304,0.325,0.357,0.486,0.842
12,PAO1_1_13,0.217,0.196,2.594,6.673,7.222,6.983,6.776,6.421,6.024,5.765,5.534,5.378,5.187,5.062,4.977,4.917,4.927
13,PAO1_1_14,0.168,0.423,2.475,5.284,7.741,9.722,9.607,9.150,8.554,8.311,7.964,7.518,7.074,6.868,6.572,6.484,6.441
14,PAO1_1_15,0.202,0.212,0.432,0.374,0.275,0.324,0.327,0.318,0.328,0.945,1.055,0.597,0.382,0.396,0.408,0.435,0.408

In [7]:
# ensure all nucleus data is numeric and rounded

nucdf['04h-n'] = pd.to_numeric(nucdf['04h-n'],errors='coerce')
nucdf['05h-n'] = pd.to_numeric(nucdf['05h-n'],errors='coerce') 
nucdf['06h-n'] = pd.to_numeric(nucdf['06h-n'],errors='coerce')
nucdf['07h-n'] = pd.to_numeric(nucdf['07h-n'],errors='coerce')
nucdf['08h-n'] = pd.to_numeric(nucdf['08h-n'],errors='coerce')
nucdf['09h-n'] = pd.to_numeric(nucdf['09h-n'],errors='coerce')
nucdf['10h-n'] = pd.to_numeric(nucdf['10h-n'],errors='coerce')
nucdf['11h-n'] = pd.to_numeric(nucdf['11h-n'],errors='coerce')
nucdf['12h-n'] = pd.to_numeric(nucdf['12h-n'],errors='coerce')
nucdf['13h-n'] = pd.to_numeric(nucdf['13h-n'],errors='coerce')
nucdf['14h-n'] = pd.to_numeric(nucdf['14h-n'],errors='coerce')
nucdf['15h-n'] = pd.to_numeric(nucdf['15h-n'],errors='coerce')
nucdf['16h-n'] = pd.to_numeric(nucdf['16h-n'],errors='coerce')
nucdf['17h-n'] = pd.to_numeric(nucdf['17h-n'],errors='coerce')
nucdf['18h-n'] = pd.to_numeric(nucdf['18h-n'],errors='coerce')
nucdf['19h-n'] = pd.to_numeric(nucdf['19h-n'],errors='coerce')
nucdf['20h-n'] = pd.to_numeric(nucdf['20h-n'],errors='coerce')

In [8]:
# Replace cell value with "alive" or the timepoint if it is dead. 

nucdf["04h-n"] = np.where(nucdf["04h-n"] > dead, 4, "alive")
nucdf["05h-n"] = np.where(nucdf["05h-n"] > dead, 5, "alive")
nucdf["06h-n"] = np.where(nucdf["06h-n"] > dead, 6, "alive")
nucdf["07h-n"] = np.where(nucdf["07h-n"] > dead, 7, "alive")
nucdf["08h-n"] = np.where(nucdf["08h-n"] > dead, 8, "alive")
nucdf["09h-n"] = np.where(nucdf["09h-n"] > dead, 9, "alive")
nucdf["10h-n"] = np.where(nucdf["10h-n"] > dead, 10, "alive")
nucdf["11h-n"] = np.where(nucdf["11h-n"] > dead, 11, "alive")
nucdf["12h-n"] = np.where(nucdf["12h-n"] > dead, 12, "alive")
nucdf["13h-n"] = np.where(nucdf["13h-n"] > dead, 13, "alive")
nucdf["14h-n"] = np.where(nucdf["14h-n"] > dead, 14, "alive")
nucdf["15h-n"] = np.where(nucdf["15h-n"] > dead, 15, "alive")
nucdf["16h-n"] = np.where(nucdf["16h-n"] > dead, 16, "alive")
nucdf["17h-n"] = np.where(nucdf["17h-n"] > dead, 17, "alive")
nucdf["18h-n"] = np.where(nucdf["18h-n"] > dead, 18, "alive")
nucdf["19h-n"] = np.where(nucdf["19h-n"] > dead, 19, "alive")
nucdf["20h-n"] = np.where(nucdf["20h-n"] > dead, 20, "alive")


nucdf.head(5)

,Unique ID,04h-n,05h-n,06h-n,07h-n,08h-n,09h-n,10h-n,11h-n,12h-n,13h-n,14h-n,15h-n,16h-n,17h-n,18h-n,19h-n,20h-n
0,PAO1_1_1,alive,alive,alive,alive,alive,alive,alive,alive,alive,alive,alive,15,16,17,18,19,20
1,PAO1_1_2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
2,PAO1_1_3,alive,alive,alive,alive,alive,alive,alive,alive,12,13,14,15,16,17,18,19,20
3,PAO1_1_4,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
4,PAO1_1_5,alive,alive,alive,alive,8,9,10,11,12,13,14,15,16,17,18,19,20

In [9]:
# Turn "alive" cells into NaNs. 

nucdf['04h-n'] = pd.to_numeric(nucdf['04h-n'],errors='coerce')
nucdf['05h-n'] = pd.to_numeric(nucdf['05h-n'],errors='coerce') 
nucdf['06h-n'] = pd.to_numeric(nucdf['06h-n'],errors='coerce')
nucdf['07h-n'] = pd.to_numeric(nucdf['07h-n'],errors='coerce')
nucdf['08h-n'] = pd.to_numeric(nucdf['08h-n'],errors='coerce')
nucdf['09h-n'] = pd.to_numeric(nucdf['09h-n'],errors='coerce')
nucdf['10h-n'] = pd.to_numeric(nucdf['10h-n'],errors='coerce')
nucdf['11h-n'] = pd.to_numeric(nucdf['11h-n'],errors='coerce')
nucdf['12h-n'] = pd.to_numeric(nucdf['12h-n'],errors='coerce')
nucdf['13h-n'] = pd.to_numeric(nucdf['13h-n'],errors='coerce')
nucdf['14h-n'] = pd.to_numeric(nucdf['14h-n'],errors='coerce')
nucdf['15h-n'] = pd.to_numeric(nucdf['15h-n'],errors='coerce')
nucdf['16h-n'] = pd.to_numeric(nucdf['16h-n'],errors='coerce')
nucdf['17h-n'] = pd.to_numeric(nucdf['17h-n'],errors='coerce')
nucdf['18h-n'] = pd.to_numeric(nucdf['18h-n'],errors='coerce')
nucdf['19h-n'] = pd.to_numeric(nucdf['19h-n'],errors='coerce')
nucdf['20h-n'] = pd.to_numeric(nucdf['20h-n'],errors='coerce')

In [10]:
# check to make sure the values were replaced as expected.
pd.options.display.max_columns = None
nucdf.head(15)

,Unique ID,04h-n,05h-n,06h-n,07h-n,08h-n,09h-n,10h-n,11h-n,12h-n,13h-n,14h-n,15h-n,16h-n,17h-n,18h-n,19h-n,20h-n
0,PAO1_1_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,16.0,17.0,18.0,19.0,20.0
1,PAO1_1_2,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
2,PAO1_1_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
3,PAO1_1_4,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
4,PAO1_1_5,NaN,NaN,NaN,NaN,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
5,PAO1_1_6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,PAO1_1_7,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
7,PAO1_1_8,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
8,PAO1_1_9,NaN,NaN,NaN,NaN,NaN,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
9,PAO1_1_10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,PAO1_1_11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,15.0,16.0,17.0,18.0,19.0,20.0
11,PAO1_1_12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,PAO1_1_13,NaN,NaN,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
13,PAO1_1_14,NaN,NaN,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
14,PAO1_1_15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Place minimum value in each row into results table. 
# This is the first timepoint where the cell was reported dead.
# This strategy avoids accidently counting cells where the PI signal drops back to "alive" status.

resultdf['Survival Time'] = nucdf.min(axis=1, skipna=None, level=None, numeric_only=None)
resultdf.head(15)

    Unique ID Strain  Survival Time
0    PAO1_1_1   PAO1           15.0
1    PAO1_1_2   PAO1            4.0
2    PAO1_1_3   PAO1           12.0
3    PAO1_1_4   PAO1            4.0
4    PAO1_1_5   PAO1            8.0
5    PAO1_1_6   PAO1            NaN
6    PAO1_1_7   PAO1            4.0
7    PAO1_1_8   PAO1            4.0
8    PAO1_1_9   PAO1            9.0
9   PAO1_1_10   PAO1            NaN
10  PAO1_1_11   PAO1           14.0
11  PAO1_1_12   PAO1            NaN
12  PAO1_1_13   PAO1            6.0
13  PAO1_1_14   PAO1            6.0
14  PAO1_1_15   PAO1            NaN

In [12]:
# Create a new dataframe to calculate invasion results starting with GFP area.

selected_columns2 = df[["Unique ID","04h-a","05h-a","06h-a","07h-a","08h-a","09h-a","10h-a","11h-a","12h-a","13h-a","14h-a","15h-a","16h-a","17h-a","18h-a","19h-a","20h-a"]]
areadf = selected_columns2.copy()
areadf.head(15)

,Unique ID,04h-a,05h-a,06h-a,07h-a,08h-a,09h-a,10h-a,11h-a,12h-a,13h-a,14h-a,15h-a,16h-a,17h-a,18h-a,19h-a,20h-a
0,PAO1_1_1,0.000,0.000,0.000,0.000,0.000,0.000,2.706,1.048,42.950,90.770,127.632,57.695,49.071,52.352,53.738,48.192,45.757
1,PAO1_1_2,0.338,1.860,0.000,2.131,1.454,1.251,0.879,0.000,3.078,7.102,1.387,2.097,2.198,2.131,2.266,2.097,2.131
2,PAO1_1_3,0.000,1.691,0.000,0.000,0.000,0.000,0.000,2.300,3.450,1.217,2.266,0.000,0.000,0.000,0.000,0.000,3.382
3,PAO1_1_4,12.141,10.349,9.503,8.658,9.503,10.247,9.199,6.730,7.880,14.272,10.281,7.914,8.861,5.614,4.836,4.904,5.715
4,PAO1_1_5,0.000,7.170,37.505,77.851,104.128,91.886,82.856,79.440,91.717,78.764,89.721,63.613,68.314,62.260,64.459,61.009,56.376
5,PAO1_1_6,0.000,0.676,0.000,5.580,3.585,0.000,0.913,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
6,PAO1_1_7,0.000,0.000,0.676,1.725,0.000,1.387,0.879,4.633,2.164,5.445,8.590,11.803,10.721,8.421,11.465,7.068,6.967
7,PAO1_1_8,3.517,11.262,9.503,9.063,5.479,11.904,13.088,12.953,24.417,23.031,19.513,18.837,20.629,19.277,17.011,13.020,13.122
8,PAO1_1_9,0.000,1.522,5.242,4.430,2.333,1.556,2.503,2.435,2.672,3.382,3.213,9.097,2.841,2.333,2.029,1.894,4.126
9,PAO1_1_10,0.440,0.676,2.198,8.556,2.503,0.000,0.000,0.000,0.000,0.000,2.503,0.000,2.875,2.942,2.333,0.000,0.710
10,PAO1_1_11,0.000,0.000,0.101,0.000,0.000,0.000,0.000,2.333,0.000,0.000,0.000,0.000,0.000,0.034,0.473,0.000,0.000
11,PAO1_1_12,0.000,0.000,0.440,0.744,0.000,0.000,0.101,0.000,4.058,18.093,20.460,21.982,20.190,18.837,15.117,15.590,16.943
12,PAO1_1_13,2.908,3.619,1.623,1.860,8.793,3.991,0.676,1.251,5.107,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
13,PAO1_1_14,3.585,19.953,25.533,24.316,22.895,21.644,24.823,25.668,25.533,29.152,28.137,27.326,22.591,21.407,20.393,20.934,18.431
14,PAO1_1_15,0.000,0.744,1.217,1.691,2.131,2.469,4.768,5.005,7.271,2.942,1.522,2.131,6.189,5.884,5.276,5.512,4.261

In [13]:
# Ensure all data is numeric and rounded.

areadf['04h-a'] = areadf['04h-a'].astype(float).round(3)
areadf['05h-a'] = areadf['05h-a'].astype(float).round(3)
areadf['06h-a'] = areadf['06h-a'].astype(float).round(3)
areadf['07h-a'] = areadf['07h-a'].astype(float).round(3)
areadf['08h-a'] = areadf['08h-a'].astype(float).round(3)
areadf['09h-a'] = areadf['09h-a'].astype(float).round(3)
areadf['10h-a'] = areadf['10h-a'].astype(float).round(3)
areadf['11h-a'] = areadf['11h-a'].astype(float).round(3)
areadf['12h-a'] = areadf['12h-a'].astype(float).round(3)
areadf['13h-a'] = areadf['13h-a'].astype(float).round(3)
areadf['14h-a'] = areadf['14h-a'].astype(float).round(3)
areadf['15h-a'] = areadf['15h-a'].astype(float).round(3)
areadf['16h-a'] = areadf['16h-a'].astype(float).round(3)
areadf['17h-a'] = areadf['17h-a'].astype(float).round(3)
areadf['18h-a'] = areadf['18h-a'].astype(float).round(3)
areadf['19h-a'] = areadf['19h-a'].astype(float).round(3)
areadf['20h-a'] = areadf['20h-a'].astype(float).round(3)

areadf['04h-a'] = pd.to_numeric(areadf['04h-a'],errors='coerce')
areadf['05h-a'] = pd.to_numeric(areadf['05h-a'],errors='coerce') 
areadf['06h-a'] = pd.to_numeric(areadf['06h-a'],errors='coerce')
areadf['07h-a'] = pd.to_numeric(areadf['07h-a'],errors='coerce')
areadf['08h-a'] = pd.to_numeric(areadf['08h-a'],errors='coerce')
areadf['09h-a'] = pd.to_numeric(areadf['09h-a'],errors='coerce')
areadf['10h-a'] = pd.to_numeric(areadf['10h-a'],errors='coerce')
areadf['11h-a'] = pd.to_numeric(areadf['11h-a'],errors='coerce')
areadf['12h-a'] = pd.to_numeric(areadf['12h-a'],errors='coerce')
areadf['13h-a'] = pd.to_numeric(areadf['13h-a'],errors='coerce')
areadf['14h-a'] = pd.to_numeric(areadf['14h-a'],errors='coerce')
areadf['15h-a'] = pd.to_numeric(areadf['15h-a'],errors='coerce')
areadf['16h-a'] = pd.to_numeric(areadf['16h-a'],errors='coerce')
areadf['17h-a'] = pd.to_numeric(areadf['17h-a'],errors='coerce')
areadf['18h-a'] = pd.to_numeric(areadf['18h-a'],errors='coerce')
areadf['19h-a'] = pd.to_numeric(areadf['19h-a'],errors='coerce')
areadf['20h-a'] = pd.to_numeric(areadf['20h-a'],errors='coerce')

In [14]:
# Replace GFP values with dead/NaN where the cell is dead so they are not factored in.

#### SPECIAL INSTRUCTIONS ####
# Hour 4, or up to 6 for rhamnose induction, may be left displayed here to detect GFP+ bacteria in already-dead cells. 
# Hash out timepoints from 04 to 06 to prevent those from being lost.
# This does not impact the calculation of the cell death point.

#areadf["04h-a"] = np.where(df["04h-n"] < dead, areadf["04h-a"], "dead")
areadf["05h-a"] = np.where(df["05h-n"] < dead, areadf["05h-a"], "dead")
areadf["06h-a"] = np.where(df["06h-n"] < dead, areadf["06h-a"], "dead")
areadf["07h-a"] = np.where(df["07h-n"] < dead, areadf["07h-a"], "dead")
areadf["08h-a"] = np.where(df["08h-n"] < dead, areadf["08h-a"], "dead")
areadf["09h-a"] = np.where(df["09h-n"] < dead, areadf["09h-a"], "dead")
areadf["09h-a"] = np.where(df["09h-n"] < dead, areadf["09h-a"], "dead")
areadf["10h-a"] = np.where(df["10h-n"] < dead, areadf["10h-a"], "dead")
areadf["11h-a"] = np.where(df["11h-n"] < dead, areadf["11h-a"], "dead")
areadf["12h-a"] = np.where(df["12h-n"] < dead, areadf["12h-a"], "dead")
areadf["13h-a"] = np.where(df["13h-n"] < dead, areadf["13h-a"], "dead")
areadf["14h-a"] = np.where(df["14h-n"] < dead, areadf["14h-a"], "dead")
areadf["15h-a"] = np.where(df["15h-n"] < dead, areadf["15h-a"], "dead")
areadf["16h-a"] = np.where(df["16h-n"] < dead, areadf["16h-a"], "dead")
areadf["17h-a"] = np.where(df["17h-n"] < dead, areadf["17h-a"], "dead")
areadf["18h-a"] = np.where(df["18h-n"] < dead, areadf["18h-a"], "dead")
areadf["19h-a"] = np.where(df["19h-n"] < dead, areadf["19h-a"], "dead")
areadf["20h-a"] = np.where(df["20h-n"] < dead, areadf["20h-a"], "dead")

pd.options.display.max_columns = None
areadf.head(15)

,Unique ID,04h-a,05h-a,06h-a,07h-a,08h-a,09h-a,10h-a,11h-a,12h-a,13h-a,14h-a,15h-a,16h-a,17h-a,18h-a,19h-a,20h-a
0,PAO1_1_1,0.000,0.0,0.0,0.0,0.0,0.0,2.706,1.048,42.95,90.77,127.632,dead,dead,dead,dead,dead,dead
1,PAO1_1_2,0.338,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead
2,PAO1_1_3,0.000,1.691,0.0,0.0,0.0,0.0,0.0,2.3,dead,dead,dead,dead,dead,dead,dead,dead,dead
3,PAO1_1_4,12.141,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead
4,PAO1_1_5,0.000,7.17,37.505,77.851,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead
5,PAO1_1_6,0.000,0.676,0.0,5.58,3.585,0.0,0.913,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,PAO1_1_7,0.000,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead
7,PAO1_1_8,3.517,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead
8,PAO1_1_9,0.000,1.522,5.242,4.43,2.333,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead
9,PAO1_1_10,0.440,0.676,2.198,8.556,2.503,0.0,0.0,0.0,0.0,0.0,2.503,0.0,2.875,2.942,2.333,0.0,0.71
10,PAO1_1_11,0.000,0.0,0.101,0.0,0.0,0.0,0.0,2.333,0.0,0.0,dead,dead,dead,dead,dead,dead,dead
11,PAO1_1_12,0.000,0.0,0.44,0.744,0.0,0.0,0.101,0.0,4.058,18.093,20.46,21.982,20.19,18.837,15.117,15.59,16.943
12,PAO1_1_13,2.908,3.619,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead
13,PAO1_1_14,3.585,19.953,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead
14,PAO1_1_15,0.000,0.744,1.217,1.691,2.131,2.469,4.768,5.005,7.271,2.942,1.522,2.131,6.189,5.884,5.276,5.512,4.261

In [15]:
# Replace GFP area values with "bg" for background, where the GFP max does not reach the user-entered cutoff. 

areadf["04h-a"] = np.where(df["04h-m"] > gfpMax, areadf["04h-a"], "bg")
areadf["05h-a"] = np.where(df["05h-m"] > gfpMax, areadf["05h-a"], "bg")
areadf["06h-a"] = np.where(df["06h-m"] > gfpMax, areadf["06h-a"], "bg")
areadf["07h-a"] = np.where(df["07h-m"] > gfpMax, areadf["07h-a"], "bg")
areadf["08h-a"] = np.where(df["08h-m"] > gfpMax, areadf["08h-a"], "bg")
areadf["09h-a"] = np.where(df["09h-m"] > gfpMax, areadf["09h-a"], "bg")
areadf["09h-a"] = np.where(df["09h-m"] > gfpMax, areadf["09h-a"], "bg")
areadf["10h-a"] = np.where(df["10h-m"] > gfpMax, areadf["10h-a"], "bg")
areadf["11h-a"] = np.where(df["11h-m"] > gfpMax, areadf["11h-a"], "bg")
areadf["12h-a"] = np.where(df["12h-m"] > gfpMax, areadf["12h-a"], "bg")
areadf["13h-a"] = np.where(df["13h-m"] > gfpMax, areadf["13h-a"], "bg")
areadf["14h-a"] = np.where(df["14h-m"] > gfpMax, areadf["14h-a"], "bg")
areadf["15h-a"] = np.where(df["15h-m"] > gfpMax, areadf["15h-a"], "bg")
areadf["16h-a"] = np.where(df["16h-m"] > gfpMax, areadf["16h-a"], "bg")
areadf["17h-a"] = np.where(df["17h-m"] > gfpMax, areadf["17h-a"], "bg")
areadf["18h-a"] = np.where(df["18h-m"] > gfpMax, areadf["18h-a"], "bg")
areadf["19h-a"] = np.where(df["19h-m"] > gfpMax, areadf["19h-a"], "bg")
areadf["20h-a"] = np.where(df["20h-m"] > gfpMax, areadf["20h-a"], "bg")

In [16]:
pd.options.display.max_columns = None
areadf.head(15)

,Unique ID,04h-a,05h-a,06h-a,07h-a,08h-a,09h-a,10h-a,11h-a,12h-a,13h-a,14h-a,15h-a,16h-a,17h-a,18h-a,19h-a,20h-a
0,PAO1_1_1,bg,bg,bg,bg,bg,bg,2.706,1.048,42.95,90.77,127.632,dead,dead,dead,dead,dead,dead
1,PAO1_1_2,0.338,dead,bg,dead,dead,dead,dead,bg,dead,dead,dead,dead,dead,dead,dead,dead,dead
2,PAO1_1_3,bg,1.691,bg,bg,bg,bg,bg,2.3,dead,dead,dead,bg,bg,bg,bg,bg,dead
3,PAO1_1_4,12.141,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead
4,PAO1_1_5,bg,7.17,37.505,77.851,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead
5,PAO1_1_6,bg,bg,bg,5.58,3.585,bg,0.913,bg,bg,bg,bg,bg,bg,bg,bg,bg,bg
6,PAO1_1_7,bg,bg,dead,dead,bg,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead
7,PAO1_1_8,3.517,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead
8,PAO1_1_9,bg,bg,5.242,4.43,2.333,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead
9,PAO1_1_10,0.44,0.676,2.198,8.556,2.503,bg,bg,bg,bg,bg,2.503,bg,2.875,2.942,2.333,bg,0.71
10,PAO1_1_11,bg,bg,0.101,bg,bg,bg,bg,2.333,bg,bg,bg,bg,bg,dead,dead,bg,bg
11,PAO1_1_12,bg,bg,0.44,0.744,bg,bg,0.101,bg,4.058,18.093,20.46,21.982,20.19,18.837,15.117,15.59,16.943
12,PAO1_1_13,2.908,3.619,dead,dead,dead,dead,dead,dead,dead,bg,bg,bg,bg,bg,bg,bg,bg
13,PAO1_1_14,3.585,19.953,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead,dead
14,PAO1_1_15,bg,0.744,1.217,1.691,2.131,2.469,4.768,5.005,7.271,2.942,1.522,2.131,6.189,5.884,5.276,5.512,4.261

In [17]:
# Make it all numbers again and NaNs again.

areadf['04h-a'] = pd.to_numeric(areadf['04h-a'],errors='coerce')
areadf['05h-a'] = pd.to_numeric(areadf['05h-a'],errors='coerce') 
areadf['06h-a'] = pd.to_numeric(areadf['06h-a'],errors='coerce')
areadf['07h-a'] = pd.to_numeric(areadf['07h-a'],errors='coerce')
areadf['08h-a'] = pd.to_numeric(areadf['08h-a'],errors='coerce')
areadf['09h-a'] = pd.to_numeric(areadf['09h-a'],errors='coerce')
areadf['10h-a'] = pd.to_numeric(areadf['10h-a'],errors='coerce')
areadf['11h-a'] = pd.to_numeric(areadf['11h-a'],errors='coerce')
areadf['12h-a'] = pd.to_numeric(areadf['12h-a'],errors='coerce')
areadf['13h-a'] = pd.to_numeric(areadf['13h-a'],errors='coerce')
areadf['14h-a'] = pd.to_numeric(areadf['14h-a'],errors='coerce')
areadf['15h-a'] = pd.to_numeric(areadf['15h-a'],errors='coerce')
areadf['16h-a'] = pd.to_numeric(areadf['16h-a'],errors='coerce')
areadf['17h-a'] = pd.to_numeric(areadf['17h-a'],errors='coerce')
areadf['18h-a'] = pd.to_numeric(areadf['18h-a'],errors='coerce')
areadf['19h-a'] = pd.to_numeric(areadf['19h-a'],errors='coerce')
areadf['20h-a'] = pd.to_numeric(areadf['20h-a'],errors='coerce')

pd.options.display.max_columns = None
areadf.head(15)

,Unique ID,04h-a,05h-a,06h-a,07h-a,08h-a,09h-a,10h-a,11h-a,12h-a,13h-a,14h-a,15h-a,16h-a,17h-a,18h-a,19h-a,20h-a
0,PAO1_1_1,NaN,NaN,NaN,NaN,NaN,NaN,2.706,1.048,42.950,90.770,127.632,NaN,NaN,NaN,NaN,NaN,NaN
1,PAO1_1_2,0.338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PAO1_1_3,NaN,1.691,NaN,NaN,NaN,NaN,NaN,2.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PAO1_1_4,12.141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PAO1_1_5,NaN,7.170,37.505,77.851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,PAO1_1_6,NaN,NaN,NaN,5.580,3.585,NaN,0.913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,PAO1_1_7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,PAO1_1_8,3.517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,PAO1_1_9,NaN,NaN,5.242,4.430,2.333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,PAO1_1_10,0.440,0.676,2.198,8.556,2.503,NaN,NaN,NaN,NaN,NaN,2.503,NaN,2.875,2.942,2.333,NaN,0.710
10,PAO1_1_11,NaN,NaN,0.101,NaN,NaN,NaN,NaN,2.333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,PAO1_1_12,NaN,NaN,0.440,0.744,NaN,NaN,0.101,NaN,4.058,18.093,20.460,21.982,20.190,18.837,15.117,15.590,16.943
12,PAO1_1_13,2.908,3.619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,PAO1_1_14,3.585,19.953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,PAO1_1_15,NaN,0.744,1.217,1.691,2.131,2.469,4.768,5.005,7.271,2.942,1.522,2.131,6.189,5.884,5.276,5.512,4.261

In [18]:
# Make a new column that calculates the average area over all the timepoints.

areadf['Invasion Ave'] = areadf[['04h-a', '05h-a', '06h-a', '07h-a', '08h-a', '09h-a', '10h-a', '11h-a', '12h-a', '13h-a', '14h-a', '15h-a', '16h-a', '17h-a', '18h-a', '19h-a', '20h-a']].mean(axis=1)
pd.options.display.max_columns = None
areadf.head(15)

,Unique ID,04h-a,05h-a,06h-a,07h-a,08h-a,09h-a,10h-a,11h-a,12h-a,13h-a,14h-a,15h-a,16h-a,17h-a,18h-a,19h-a,20h-a,Invasion Ave
0,PAO1_1_1,NaN,NaN,NaN,NaN,NaN,NaN,2.706,1.048,42.950,90.770,127.632,NaN,NaN,NaN,NaN,NaN,NaN,53.021200
1,PAO1_1_2,0.338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.338000
2,PAO1_1_3,NaN,1.691,NaN,NaN,NaN,NaN,NaN,2.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.995500
3,PAO1_1_4,12.141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.141000
4,PAO1_1_5,NaN,7.170,37.505,77.851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.842000
5,PAO1_1_6,NaN,NaN,NaN,5.580,3.585,NaN,0.913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.359333
6,PAO1_1_7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,PAO1_1_8,3.517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.517000
8,PAO1_1_9,NaN,NaN,5.242,4.430,2.333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.001667
9,PAO1_1_10,0.440,0.676,2.198,8.556,2.503,NaN,NaN,NaN,NaN,NaN,2.503,NaN,2.875,2.942,2.333,NaN,0.710,2.573600
10,PAO1_1_11,NaN,NaN,0.101,NaN,NaN,NaN,NaN,2.333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.217000
11,PAO1_1_12,NaN,NaN,0.440,0.744,NaN,NaN,0.101,NaN,4.058,18.093,20.460,21.982,20.190,18.837,15.117,15.590,16.943,12.712917
12,PAO1_1_13,2.908,3.619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.263500
13,PAO1_1_14,3.585,19.953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.769000
14,PAO1_1_15,NaN,0.744,1.217,1.691,2.131,2.469,4.768,5.005,7.271,2.942,1.522,2.131,6.189,5.884,5.276,5.512,4.261,3.688312

In [19]:
# Categorize each cell as "invaded" or "not invaded" based on the user-entered minimum GFP area.
# Store this in a new column "Invasion Status"

areadf['Invasion Status'] = np.where(areadf["Invasion Ave"] > gfpArea, "Invaded", "Not Invaded")
pd.options.display.max_columns = None
areadf.head(15)

,Unique ID,04h-a,05h-a,06h-a,07h-a,08h-a,09h-a,10h-a,11h-a,12h-a,13h-a,14h-a,15h-a,16h-a,17h-a,18h-a,19h-a,20h-a,Invasion Ave,Invasion Status
0,PAO1_1_1,NaN,NaN,NaN,NaN,NaN,NaN,2.706,1.048,42.950,90.770,127.632,NaN,NaN,NaN,NaN,NaN,NaN,53.021200,Invaded
1,PAO1_1_2,0.338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.338000,Not Invaded
2,PAO1_1_3,NaN,1.691,NaN,NaN,NaN,NaN,NaN,2.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.995500,Not Invaded
3,PAO1_1_4,12.141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.141000,Invaded
4,PAO1_1_5,NaN,7.170,37.505,77.851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.842000,Invaded
5,PAO1_1_6,NaN,NaN,NaN,5.580,3.585,NaN,0.913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.359333,Not Invaded
6,PAO1_1_7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Invaded
7,PAO1_1_8,3.517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.517000,Not Invaded
8,PAO1_1_9,NaN,NaN,5.242,4.430,2.333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.001667,Not Invaded
9,PAO1_1_10,0.440,0.676,2.198,8.556,2.503,NaN,NaN,NaN,NaN,NaN,2.503,NaN,2.875,2.942,2.333,NaN,0.710,2.573600,Not Invaded
10,PAO1_1_11,NaN,NaN,0.101,NaN,NaN,NaN,NaN,2.333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.217000,Not Invaded
11,PAO1_1_12,NaN,NaN,0.440,0.744,NaN,NaN,0.101,NaN,4.058,18.093,20.460,21.982,20.190,18.837,15.117,15.590,16.943,12.712917,Invaded
12,PAO1_1_13,2.908,3.619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.263500,Not Invaded
13,PAO1_1_14,3.585,19.953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.769000,Invaded
14,PAO1_1_15,NaN,0.744,1.217,1.691,2.131,2.469,4.768,5.005,7.271,2.942,1.522,2.131,6.189,5.884,5.276,5.512,4.261,3.688312,Not Invaded

In [20]:
#Put Invasion status on the results table.

resultdf['Invasion Status'] = areadf[['Invasion Status']]
resultdf.head(15)

    Unique ID Strain  Survival Time Invasion Status
0    PAO1_1_1   PAO1           15.0         Invaded
1    PAO1_1_2   PAO1            4.0     Not Invaded
2    PAO1_1_3   PAO1           12.0     Not Invaded
3    PAO1_1_4   PAO1            4.0         Invaded
4    PAO1_1_5   PAO1            8.0         Invaded
5    PAO1_1_6   PAO1            NaN     Not Invaded
6    PAO1_1_7   PAO1            4.0     Not Invaded
7    PAO1_1_8   PAO1            4.0     Not Invaded
8    PAO1_1_9   PAO1            9.0     Not Invaded
9   PAO1_1_10   PAO1            NaN     Not Invaded
10  PAO1_1_11   PAO1           14.0     Not Invaded
11  PAO1_1_12   PAO1            NaN         Invaded
12  PAO1_1_13   PAO1            6.0     Not Invaded
13  PAO1_1_14   PAO1            6.0         Invaded
14  PAO1_1_15   PAO1            NaN     Not Invaded

In [21]:
#Save results as a new .csv file. 

resultdf.to_csv('Processed_Results.csv' , index=False)
print('Your data has been saved as Processed_Results.csv')

Your data has been saved as Processed_Results.csv

In [22]:
#Save the finalized area results for further analysis if desired.

areadf['Strain'] = df['Strain'] 
areadf.to_csv('GFP_Area_Results.csv' , index=False)
print('Your data has been saved as GFP_Area_Results.csv')

Your data has been saved as GFP_Area_Results.csv