In [7]:
#Import stuff 
import pandas as pd
import os
print ("Pandas imported")
print ("os imported")

Pandas imported
os imported

In [8]:
### CHANGE THE DIRECTORY ###

inputDir = '/Users/abbykroken/Desktop/sand2/dfs'
print("Selected directory: " + inputDir)  
os.chdir(inputDir)
cwd = os.getcwd()
print("Current working directory: {0}".format(cwd))

Selected directory: /Users/abbykroken/Desktop/sand2/dfs
Current working directory: /Users/abbykroken/Desktop/sand2/dfs

In [9]:
# Load the GFP area results file.

df = pd.read_csv('GFP_Area_Results.csv')
pd.options.display.max_columns = None
df.head()

,Unique ID,04h-a,05h-a,06h-a,07h-a,08h-a,09h-a,10h-a,11h-a,12h-a,13h-a,14h-a,15h-a,16h-a,17h-a,18h-a,19h-a,20h-a,Invasion Ave,Invasion Status,Strain
0,PAO1_1_1,NaN,NaN,NaN,NaN,NaN,NaN,2.706,1.048,42.95,90.77,127.632,NaN,NaN,NaN,NaN,NaN,NaN,53.0212,Invaded,PAO1
1,PAO1_1_2,0.338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3380,Not Invaded,PAO1
2,PAO1_1_3,NaN,1.691,NaN,NaN,NaN,NaN,NaN,2.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.9955,Not Invaded,PAO1
3,PAO1_1_4,12.141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.1410,Invaded,PAO1
4,PAO1_1_5,NaN,7.170,37.505,77.851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.8420,Invaded,PAO1

In [10]:
#List out all the unique strains in the data set to check for any data entry issues. 

NoStrains = df.Strain.unique()
print(df.Strain.unique())

#Count the number of unique strains.

len(NoStrains)

['PAO1' '∆STY']

2

In [11]:
#Groupby adds all the numerical results from each Strain together. 

sumdf = df.groupby(["Strain"]).sum().reset_index()
sumdf

,Strain,04h-a,05h-a,06h-a,07h-a,08h-a,09h-a,10h-a,11h-a,12h-a,13h-a,14h-a,15h-a,16h-a,17h-a,18h-a,19h-a,20h-a,Invasion Ave
0,PAO1,377.588,854.397,1865.346,2721.501,2745.990,1878.638,1680.527,1113.552,915.104,771.036,667.719,506.170,465.991,294.121,290.570,227.634,228.007,2581.909907
1,∆STY,1652.250,590.004,529.737,514.216,492.979,374.273,371.193,341.096,305.522,309.576,298.249,243.398,230.070,158.643,161.013,135.715,147.179,1995.093777

In [12]:
#Save the finalized area results sum.

sumdf.to_csv('GFP_Area_Sums.csv' , index=False)
print('Your data has been saved as GFP_Area_Results.csv')

Your data has been saved as GFP_Area_Results.csv